@import "tailwindcss";

.rainbow-wave {
        background: linear-gradient(124deg,
                        #A1E3F9,
                        #fff,
                        #A1E3F9,
                        #A1EEBD,
                        #A1E3F9,
                        #A1EEBD,
                        #A1E3F9,
                        #A1EEBD,
                        #A1E3F9);
        background-size: 1800% 1800%;

        -webkit-animation: rainbow 18s ease infinite;
        -z-animation: rainbow 18s ease infinite;
        -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
        0% {
                background-position: 0% 82%;
        }

        50% {
                background-position: 100% 19%;
        }

        100% {
                background-position: 0% 82%;
        }
}

@-moz-keyframes rainbow {
        0% {
                background-position: 0% 82%;
        }

        50% {
                background-position: 100% 19%;
        }

        100% {
                background-position: 0% 82%;
        }
}

@-o-keyframes rainbow {
        0% {
                background-position: 0% 82%;
        }

        50% {
                background-position: 100% 19%;
        }

        100% {
                background-position: 0% 82%;
        }
}

@keyframes rainbow {
        0% {
                background-position: 0% 82%;
        }

        50% {
                background-position: 100% 19%;
        }

        100% {
                background-position: 0% 82%;
        }
}



.shadowCss{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: white;
}

a.active{
        background-color: #A1E3F9;
        border-radius: 10px;
}

.titreorange{
        border-bottom: 3px solid #FF7F3E;
        color: #808080;
}

.titregris{
        border-bottom: 3px solid #808080;
        color: #808080;
}